<h1>Nouvelle commande passée</h1>

<p><strong><%= @user.email %></strong> vient de passer une commande !</p>

<ul>
  <% @order.order_items.each do |oi| %>
    <li><%= oi.item.title %> — <%= number_to_currency(oi.item.price, unit: "€") %></li>
  <% end %>
</ul>

<p><strong>Total : <%= number_to_currency(@order.total_cents / 100.0, unit: "€") %></strong></p>